<div class="editForm">
  <%if @tweets %>
  <% @tweets.each do |tweet| %>
  <!-- Edit form -->
    <form action="/users/<%= @user.id %>/tweets/<%=tweet.id%>" method="post">
      <input name="_method" type="hidden" value="PUT">
      <input type="text" size="70" name="message" placeholder=<%=tweet.message%> >
      <input type="submit" value="edit">
    </form>

    <form action="/users/<%= @user.id %>/tweets/<%=tweet.id%>" method="post" class="deleteForm">
      <input name="_method" type="hidden" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  <% end %>
<%end %>

</div>



